<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="toolversion" value="01.00" />
    <add key="knowHelpLink" value="https://know.gensler.com/Design_Applications/Revit/Configuration/Gensler_Revit_Ribbon/Design_Options_View_Duplicator" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>